.category-container {
  min-width: 100%;
  height: 240px;
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 0 15px;
  overflow: hidden;
  @media (min-width: 576px) {
    // RED (SM)
  }
  @media (min-width: 768px) {
    // GREEN (MD)
    flex: 1 1 auto;
    min-width: 30%;
    margin: 0 7.5px 15px;
  }
  @media (min-width: 992px) {
    // BLUE (LG)
  }
  @media (min-width: 1200px) {
    // YELLOW (XL)
  }
  @media (min-width: 1400px) {
    // PURPLE (XXL)
  }

  &:hover {
    cursor: pointer;

    & .category-bg-img {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .category-body-container {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
    margin-left: 0;
  }

  &:last-child {
    margin-left: 0;
    margin-right: 0;
    @media (min-width: 768px) {
      // GREEN (MD)
      margin-left: 7.5px;
    }
  }

  &:nth-child(3) {
    margin-right: 0;
  }

  &:nth-child(4) {
    margin-left: 0;
  }

  .category-bg-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .category-body-container {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;

    h2 {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #4a4a4a;
    }

    p {
      font-weight: normal;
      font-size: 16px;
    }
  }
}
