body {
  margin: 0;
  padding: 1.25rem 2.5rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-logo-txt {
    font-family: 'Babylonica', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
